.test {
    text-align: center !important;
}
/* Login Modal */
.login-buttons-tab {
    border: black 1px solid !important;
}
.login-modal-header{
    text-align: center !important;
    padding-left: 15% !important;
    border: black solid 1px;
}
    .login-google-button{
        /* margin-left: 10px !important; */
        background-color: #d34836 !important;
        border-radius: 50px !important;
        border: 0px !important;
        padding: 0% !important;
        height: 30px;
        width: 30px;
        /* margin-left: auto;
        margin-right: auto; */
    }
    .login-facebook-button{
        /* margin-left: 10px !important; */
        background-color: #3b5998 !important;
        border-radius: 50px !important;
        border: 0px !important;
        padding: 0% !important;
        height: 30px;
        width: 30px;
    }
        .login-button-icon{
            margin-top: -10%;
            color: #fff;
        }
/* Login Modal */

.login-button:hover{
    opacity: 0.85;
}
.login-button{
    cursor: pointer;
    color: aliceblue;
}
.nav{
    /* background: #800080; */
    border-bottom: 3px solid #443266;
    background-color: #9b2020;
    font-weight: bold;
}
.brand{
    color: #fff !important;
}

/* Pokemon Card */
.pokemon-card{
    /* background-color: #DEE1E2 !important; */
        max-height: 300px !important;
        min-height: 300px !important;
        max-width: 250px !important;
        min-width: 250px !important;
    background-color: #8C489F;
    box-shadow: 0 2px 6px 0
    hsla(0, 0%, 0%, 0.9);
}
.pokemon-card-header:hover{
    opacity: 0.85;
}
    .pokemon-card-header{
        /* background-color: #4a148c !important; */
        max-height: 200px !important;
        min-height: 200px !important;
        max-width: 250px !important;
        min-width: 250px !important;

        border-top: 4px solid #4b5f9b;
        background-color: #443266 !important;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        /* color: #F0F0F0; */
        color: #F1F0FF;
    }
        .pokemon-img{
            padding-top: 20px;
        }

    .pokemon-card-body{
        max-height: 100px !important;
        min-height: 100px !important;
        max-width: 250px !important;
        min-width: 250px !important;
        text-align: center;
        align-items: center;
        align-content: center;
        /* background-color: #DEE1E2 !important; */
        /* background-color: #555152 !important; */
        background-color: #654b9b !important;
    }
        .card-short-attributes{
            /* padding-top: 5px; */
            font-weight: bold;
            color: #F1F0FF;
        }
    /* .pokemon-card-footer{
        background-color: #7f0000 !important;
    } */
/* Pokemon Card */

/* Pokemon Type */
    .pokemon-type-info:link:hover, 
    .pokemon-type-info:link:active, 
    .pokemon-type-info:link:focus{
        opacity: 0.85;
    }

    .pokemon-type-info:hover, 
    .pokemon-type-info:active, 
    .pokemon-type-info:focus{
        color: #fff;
        text-decoration: none;
    }
    .pokemon-type-info{
        display: inline-block;
        width: 66px;
        margin-bottom: 4px;
        background: #dbdbdb;
        border: 1px solid #a3a3a3;
        border-radius: 4px;
        border: 1px solid black;
        color: #fff;
        font-size: .75rem;
        font-weight: normal;
        line-height: 1.5rem;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
        text-transform: uppercase;
        transition: opacity .2s;
    }

    /* Pokemon Type Colors */
        .pokemon-type-info-normal{
            background-color: #aa9;
        }
        .pokemon-type-info-fire{
            background-color: #f42;
        }
        .pokemon-type-info-water{
            background-color: #39f;
        }
        .pokemon-type-info-electric{
            background-color: #fc3;
        }
        .pokemon-type-info-grass{
            background-color: #7c5;
        }
        .pokemon-type-info-ice{
            background-color: #6cf;
        }
        .pokemon-type-info-fighting{
            background-color: #b54;
        }
        .pokemon-type-info-poison{
            background-color: #a59;
        }
        .pokemon-type-info-ground{
            background-color: #db5;
        }
        .pokemon-type-info-flying{
            background-color: #89f;
        }
        .pokemon-type-info-psychic{
            background-color: #f59;
        }
        .pokemon-type-info-bug{
            background-color: #ab2;
        }
        .pokemon-type-info-rock{
            background-color: #ba6;
        }
        .pokemon-type-info-ghost{
            background-color: #66b;
        }
        .pokemon-type-info-dragon{
            background-color: #76e;
        }
        .pokemon-type-info-dark{
            background-color: #754;
        }
        .pokemon-type-info-steel{
            background-color: #aab;
        }
        .pokemon-type-info-fairy{
            background-color: #e9e;
        }
    /* Pokemon Type Colors */
/* Pokemon Type */