.customSearchText {
    height: 30px !important;
}

.customSearchButton {    
    border-top-left-radius: 0% !important;
    border-bottom-left-radius: 0% !important;
    background-color: Green !important;
    height: 30px !important;
    width: 30px!important;
    border: none !important;
}

.customSearchIcon {
    margin-right: 5px !important;
    padding-right: 14px !important;
    /* align-content: center !important; */
}